<h1> Kirjaudu sis채채n </h1>
<div class="form"> <%= form_tag(sessions_path) do %>
<%= label_tag(:nick, "nimimerkki") %> </br>
<%= text_field_tag(:nick)%></br>
<%= label_tag(:password, "salasana") %> </br>
<%= password_field_tag(:password) %> </br>
<%= submit_tag("kirjaudu sis채채n") %>
<% end %>
</div>
