<%= stylesheet_link_tag "recipes",media: "all", "data-turbolinks-track" => true %>
<h1> <%= @recipe.name %> </h1>
<%= image_tag @recipe.photo %>
<div class="left"> 
	<p>
		<%= create_line_breaks(@recipe.ingredients) %>
	</p>
</div>
<div id="right">
	<p>
		<%= @recipe.directions %>
	</p>
</div>

