<!DOCTYPE html>
<html>
<head>
  <title>Keittokirja</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="content">
<div id="banner">
	<h1>	Keittokirja </p>
</div>
<ul id="navbar">
	<li> <%= link_to("etusivu", root_path) %> </li>
	<% if current_user %>
		<li> <%= link_to("kirjaudu ulos", sessions_destroy_path) %> </li>
		<li> <%= link_to("luo uusi resepti", recipes_new_path) %> </li>
	<% else %>
	<li> <%= link_to("kirjaudu sisään", sessions_new_path) %> </li>
	<li> <%= link_to("luo tunnus", users_new_path) %> </li>
	<% end %>
</ul></br>
<% if flash[:alert] %>
	<p class="alert"> <%= flash.alert %> </p> </br>
<% end %>
<% if flash[:notice] %>
	<p class="notice"> <%= flash.notice %> </p> </br>
<% end %>
<%= yield %>
</div>
</body>
</html>
